@import "./variable.css";
@import "./fonts.css";
@import "./custome.css";
@import "./module/default.css";
@import "./module/topbar.css";
@import "./module/navbar.css";
@import "./module/breadcrumb.css";
@import "./module/sidebarCoursesBox.css";
@import "./module/pagination.css";
@import "./module/footer.css";

/*? Start Article Details */

.article-details {
    margin-top: 4rem;
}


/*! Start Article Styles */

.article {
    padding: 2rem;
    background-color: var(--white-color);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    overflow: hidden;
}



/* Start Article Box Styles */

.article__title {
    font-size: 2.8rem;
    font-weight: bold;
    letter-spacing: -2px;
    color: var(--dark-color);
    padding-bottom: 2rem;
    border-bottom: 2px solid #f3f3f3;
}

.article__header {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    padding-top: 1rem;
}

.article__header-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.article__header-icon {
    font-size: 1.8rem;
    color: #c7c7c7;
}

.article__header-text {
    font-size: 1.3rem;
    color: #8f8f8f;
}

.article__img {
    display: block;
    margin: 4rem auto;
    border-radius: 2rem;
    width: 80rem;
}

/* Finish Article Box Styles */



/* Start Article Score Styles */

.article__score {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.article__score-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article__score-text {
    display: block;
    margin-top: 0.5rem;
    font-size: 1.7rem;
    color: #7d7d7d;
}

/* Finish Article Score Styles */



/* Start Article Topic Styles */

.article__topic {
    margin: 3rem 0;
    background-color: #f2f2f2;
    border-radius: 3rem;
    padding: 2rem 3rem;
}

.article__topic-title {
    display: block;
    color: #333333;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: -1px;
}

.article__topic-link {
    line-height: 2rem;
    font-size: 1.5rem;
    color: #1e83f0;
    transition: all 300ms ease;
}

.article__topic-link:hover {
    text-decoration: underline;
}

/* Finish Article Topic Styles */



/* Start Article Body Styles */

.article__body-img {
    display: block;
    margin: auto;
    border-radius: 2rem;
    margin-bottom: 4rem;
}

.article__body-section {
    margin: 5rem 0;
}

.article__body-section-title {
    font-size: 2.5rem;
    color: #008c25;
    font-weight: bold;
    letter-spacing: -1.5px;
    margin-bottom: 2rem;
    line-height: 1.2;
}

.article__body-section-img {
    display: block;
    margin: 2rem auto;
}

/* Finish Article Body Styles */



/* Start Article Shared Section */

.article__shared {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.article__shared-social-media {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
}

.article__shared-text {
    font-size: 1.5rem;
    color: #7d7e7f;
}

.article__shared-social-media-link {
    color: #7b868a;
}

.article__shared-icon {
    font-size: 2rem;
}

/* Finish Article Shared Section */



/* Start Suggestion Articles Styles */

.suggestion-articles {
    margin: 5rem 0;
    padding: 3.5rem 2.5rem;
    border-radius: 1rem;
    background-color: #f0f2f7;
}

.suggestion-articles__right::after {
    content: "قدیمی تر";
    position: absolute;
    top: -2.5rem;
    transform: rotate(180deg);
    left: 2rem;
    font-size: 1.8rem;
    color: #adb5db;
    font-weight: bold;
    letter-spacing: -1px;
}

.suggestion-articles__content {
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;
}

.suggestion-articles__icon-link {
    color: #adb5db;
    font-size: 1.8rem;
}

.suggestion-articles__link {
    text-align: center;
    font-size: 1.5rem;
}

.suggestion-articles__left {
    flex-direction: row-reverse;
}

.suggestion-articles__left::after {
    content: "جدید تر";
    position: absolute;
    top: -2.5rem;
    right: 2rem;
    font-size: 1.8rem;
    color: #adb5db;
    font-weight: bold;
    letter-spacing: -1px;
}

/* Finish Suggestion Articles Styles */



/* Start Comments Styles */

.comments__title {
    display: block;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: -1px;
    color: var(--dark-color);
}

.comment__text {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.comments__content {
    display: flex;
    flex-direction: column;
}

.comments__content-title {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: #6c757d;
}

.comments__star {
    color: red;
}

.comments__content-textarea {
    resize: vertical;
    min-height: 20rem;
    max-height: 30rem;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    border: none;
    background-color: #f3f3f3;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.comments__button {
    border: none;
    outline: none;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

/* Finish Comments Styles */

/*! Finish Article Styles */



/*! Start Side Bar Styles */

.side-bar {
    top: 1rem;
    position: sticky;
}

.article-infos {
    border-radius: 1rem;
    margin-top: 2rem;
    padding: 2rem;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid #f2f2f2;
}

.article-infos:first-child {
    margin-top: 0;
}

.article-infos {
    overflow: hidden;
}



/* Start Related Course Box Section */

.course-info__related-course-title {
    position: relative;
}

.course-info__related-course-title::after {
    content: "";
    position: absolute;
    right: -3.2rem;
    top: -.4rem;
    width: 2.5rem;
    height: 4rem;
    background-color: var(--primary-color);
    border-radius: 8px 0 0 12px;
    transform: skewX(-10deg);
}

.course-info__related-course-item {
    margin-bottom: 1rem;
}

.course-info__related-course-item:last-child {
    margin-bottom: 0;
}

.course-info__related-course-price {
    color: var(--primary-color);
    font-size: 1.3rem;
}

/* Start Related Course Box Section */



/* Start Access Related Course Styles */

.sidebar-articles__list {
    margin-top: -1rem;
}

.sidebar-articles__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 2px solid #eeeeee;
    padding: 1rem 0;
    transition: all 400ms ease;
    cursor: pointer;
}

.sidebar-articles__item:last-child {
    border-bottom: none;
}

.sidebar-articles__item:hover {
    padding-right: 1rem;
    background-color: #f8f9fa;
}

.sidebar-articles__item:hover .sidebar-articles__link {
    color: #1e83f0;
}

.sidebar-articles__item:hover .sidebar-articles__icon {
    color: var(--primary-color);
}

.sidebar-articles__icon {
    font-size: 1.4rem;
    transition: all 400ms ease;
    color: #909aa7;
}

.sidebar-articles__link {
    transition: all 400ms ease;
    font-size: 1.3rem;
}

/* Finish Access Related Course Styles */



/* Start Lastest Blog Styles */

.sidebar-lastest__articles-list {
    margin-top: -1rem;
}

.sidebar-lastest__articles-item {
    border-bottom: 2px solid #eeeeee;
    padding: 1rem 0;
}

.sidebar-lastest__articles-item:last-child {
    border-bottom: none;
}

.sidebar-lastest__articles-link {
    font-size: 1.4rem;
}

/* Finish Lastest Blog Styles */

/*! Finish Side Bar Styles */

/*? Finish Article Details */