@import "./variable.css";
@import "./fonts.css";
@import "./module/default.css";
@import "./module/topbar.css";
@import "./module/navbar.css";
@import "./module/pagination.css";
@import "./module/footer.css";

/* Start BreadCrumb Styles */

.breadcrumb {
    margin: 3rem 0;
}

.breadcrumb__content {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    background-color: #f0f2f7;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
}

.breadcrumb__content-home {
    background-color: var(--white-color);
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
}

.breadcrumb__content-home:hover .breadcrumb__content-home-icon {
    color: #000;
}

.breadcrumb__content-home-icon {
    font-size: 1.8rem;
    color: #909aa7;
    transition: all 400ms ease;
}

.breadcrumb__content-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.breadcrumb__content-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    font-size: 1.6rem;
    color: #7f8187;
    transition: all 300ms ease;
}

.breadcrumb__content-link:hover {
    color: #000;
}

.breadcrumb__content-link-icon {
    font-size: 1.2rem;
}

/* Finish BreadCrumb Styles */



/* Start Course Main Info Styles */

.course-info {
    margin: 6rem;
}

.course-info__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-info__link {
    display: inline-block;
    font-size: 1.3rem;
    background-color: rgba(43, 206, 86, 0.2);
    color: var(--primary-color);
    padding: .4rem 1.2rem;
    border-radius: .5rem;
    margin-bottom: 2.5rem;
}

.course-info__title {
    letter-spacing: -2px;
    font-weight: bold;
    font-size: 2.6rem;
    margin-bottom: 1.25rem;
    color: #464749;
}

.course-info__desc {
    text-align: justify;
    margin-bottom: 2.5rem;
    line-height: 1.5;
    font-size: 1.5rem;
    color: #7b868a;
}

.course-info__social-media {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.course-info__social-media-link {
    color: #b1bbbf;
    font-size: 2rem;
}

.course-info__video {
    width: 100%;
    border-radius: 1rem;
}

/* Finish Course Main Info Styles */



/* Start Course Details Styles */

.course-details {
    margin: 6rem 0;
}

.course {}

.course-boxes {
    margin-bottom: 4rem;
}

.course-boxes__container {
    display: flex;
    row-gap: 1.5rem;
}

.course-box__content {
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: var(--white-color);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
}

.course-boxes__box-right {}

.course-boxes__box-icon {
    color: var(--primary-color);
    font-size: 3.5rem;
}

.course-boxes__box-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

.course-boxes__box-title {
    font-weight: 600;
    font-size: 1.7rem;
    color: #858c96;
}

.course-boxes__box-desc {
    font-size: 1.4rem;
    color: #7d7e7f;
}

/* Finish Course Details Styles */



/* Start Course Progress Styles */

.course-progress {
    border-radius: 1rem;
    padding: 2rem;
    background-color: #f0f2f8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.2rem;
}

.course-progress__header {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    color: #7b868a;
    font-size: 1.8rem;
}

.course-progress__header-text {
    font-weight: 600;
    letter-spacing: -2px;
}

.progress-bar {
    background-color: var(--primary-color);
}

/* Finish Course Progress Styles */