@import "./variable.css";
@import "./fonts.css";
@import "./topbar.css";

/* Start Default Styles */

html {
    box-sizing: border-box;
    font-size: 62.5%;
    direction: rtl;
}

body {
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: var(--primary-font);
}

ul {
    margin: 0;
}

*,
*::after,
*::before {
    outline: none;
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: var(--dark-color);
    transition: all 400ms ease;
}

a:hover {
    color: #1e83f0;
}

i {
    user-select: none;
}

/* Finish Default Styles */



/* Start NavBar Styles */

.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem;
}

.nav__right {
    gap: 2rem;
}

.nav__menu {
    gap: 3rem;
}

.nav__item {
    color: #7f8187;
    position: relative;
    padding: 2rem 0;
}

.nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.nav__link-icon {
    font-size: 1.3rem;
    transition: all 400ms ease;
}

.nav__link:hover {
    color: #7f8187;
}

.nav__item:hover .nav__link-icon {
    transform: rotate(180deg);
}

.nav__sub-menu {
    position: absolute;
    top: 5.5rem;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--white-color);
    transition: all 400ms ease;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
    width: 24rem;
    z-index: 1;
    padding: 1rem;
    border-bottom: 4px solid var(--primary-color);
    opacity: 0;
    visibility: hidden;
}

.nav__item:hover .nav__sub-menu {
    opacity: 1;
    visibility: visible;
}

.nav__sub-item {
    margin-bottom: 1rem;
}

.nav__sub-item:last-child {
    margin-bottom: 0;
}

.nav__sub-link {
    color: var(--dark-color);
}

.nav__left {
    gap: 1.5rem;
}

.nav__search-btn {
    background-color: var(--primary-color);
}

.nav__search-btn:hover .nav__search-icon {
    color: #1e83f0;
}

.nav__search-btn,
.nav__cart-btn {
    width: 4.3rem;
    height: 4.3rem;
    border-radius: 0.5rem;
}

.nav__search-icon {
    color: var(--white-color);
    font-size: 2rem;
    transition: all 400ms ease;
}

.nav__cart-btn {
    background-color: #f0f2f7;
}

.nav__cart-btn:hover .nav__cart-icon {
    color: #1e83f0;
}

.nav__cart-icon {
    color: var(--dark-color);
    font-size: 2rem;
    transition: all 400ms ease;
}

.nav__profile {
    padding: 0.72rem 1.5rem;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    color: var(--primary-color);
}

.nav__profile:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* Finish NavBar Styles */



/* Start Landing Styles */

.landing {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./../images/background_landing.jfif") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 9rem 0;
    color: var(--white-color);
}

.landing__title {
    font-size: 3.4rem;
    font-weight: bold;
}

.landing__sub-title {
    font-size: 1.8rem;
    margin-top: 2.5rem;
}

.landing__searchbar {
    width: 700px;
    position: relative;
    margin: 4.5rem auto;
}

.landing__searchbar-input {
    width: 100%;
    padding: 2.5rem;
    border: none;
    border-radius: 1rem;
}

.landing__searchbar-btn {
    border: none;
    outline: none;
    background-color: var(--primary-color);
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 1rem;
    position: absolute;
    left: 1rem;
    top: 1.03rem;
}

.landing__searchbar-icon {
    color: var(--white-color);
    font-size: 2rem;
}

.landing-status {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
}

.landing-status__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing-status__item svg {
    fill: var(--white-color);
}

.landing-status__count {
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1.2rem;
}

.landing-status__text {
    font-weight: bold;
}

/* Finish Landing Styles */



/* Start Lastest Courses Styles */

.courses {
    margin: 4rem 0;
}

.courses__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses-header__right {
    display: flex;
    flex-direction: column;
}

.courses-header__text {
    color: #9c9c9c;
    font-size: 1.5rem;
}

.courses-header__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.courses-header__link:hover {
    color: var(--white-color);
}

.courses-header__icon {
    font-size: 1.4rem;
}

.courses-content {
    margin-top: 4rem;
}

.course-box {
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 19px rgba(168, 172, 185, 0.3);
    border-radius: 1rem;
    margin: 1rem 0;
    gap: 1rem;
    overflow: hidden;
    transition: all 300ms ease;
}

.course-box:hover {
    transform: translateY(-0.7rem);
}

.course-box__logo {
    width: 100%;
}

.course-box__img {
    width: 100%;
}

.course-box__main {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.course-box__title {
    font-weight: bold;
    letter-spacing: 0;
}

.course-box__rating-teacher {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courser-box__teacher {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.course-box__teacher-icon {
    color: #6c757d;
    font-size: 1.8rem;
}

.course-box__teacher-link {
    font-size: 1.4rem;
}

.course-box__rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-box__status {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-box__users {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.course-box__users-icon {
    color: #6c757d;
    font-size: 1.8rem;
}

.course-box__users-count {
    font-size: 1.4rem;
}

.course-box__price {
    font-size: 1.6rem;
    color: #6c757d;
}

.course-box__footer {
    text-align: center;
    padding: 1rem 0;
    border-top: 1px solid rgba(108, 117, 125, 0.3);
    margin-top: 0.5rem;
}

.course-box__footer-text {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.course-box__footer-icon {
    font-size: 1.4rem;
    font-weight: bold;
}

/* Finish Lastest Courses Styles */



/* Start About Us Styles */

.aboutUs {
    margin: 4rem 0;
}

.aboutUs-header {
    display: flex;
    flex-direction: column;
}

.aboutUs-header__text {
    color: #9c9c9c;
    font-size: 1.5rem;
}

.aboutUs-content {
    margin-top: 4rem;
}

.aboutUs-box {
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    margin: 1rem 0;
    gap: 2rem;
    padding: 1.5rem;
}

.aboutUs-box__icon {
    font-size: 7rem;
    color: #666;
}

.aboutUs-box__left {
    display: flex;
    flex-direction: column;
}

.aboutUs-box__title {
    font-weight: bold;
    font-size: 1.8rem;
}

.aboutUs-box__text {
    font-size: 1.5rem;
}

/* Finish About Us Styles */