@import "./variable.css";
@import "./fonts.css";
@import "./module/default.css";
@import "./module/topbar.css";
@import "./module/navbar.css";
@import "./module/breadcrumb.css";
@import "./module/sidebarCoursesBox.css";
@import "./module/pagination.css";
@import "./module/footer.css";

/* Start Course Main Info Styles */

.course-info {
    margin: 4rem;
}

.course-info__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-info__link {
    display: inline-block;
    font-size: 1.3rem;
    background-color: rgba(43, 206, 86, 0.2);
    color: var(--primary-color);
    padding: .4rem 1.2rem;
    border-radius: .5rem;
    margin-bottom: 2.5rem;
}

.course-info__title {
    letter-spacing: -2px;
    font-weight: bold;
    font-size: 2.6rem;
    margin-bottom: 1.25rem;
    color: #464749;
}

.course-info__desc {
    text-align: justify;
    margin-bottom: 2.5rem;
    line-height: 1.5;
    font-size: 1.5rem;
    color: #7b868a;
}

.course-info__social-media {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.course-info__social-media-link {
    color: #b1bbbf;
    font-size: 2rem;
}

.course-info__video {
    width: 100%;
    border-radius: 1rem;
}

/* Finish Course Main Info Styles */





/*? Start Course Details Styles */

.course-details {
    margin: 5rem 0;
}



/*! Start Course Styles */

/* Start Course Details Styles */

.course-boxes {
    margin-bottom: 3rem;
}

.course-boxes__container {
    display: flex;
    row-gap: 1.5rem;
}

.course-box__content {
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: var(--white-color);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
}

.course-boxes__box-icon {
    color: var(--primary-color);
    font-size: 3.5rem;
}

.course-boxes__box-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

.course-boxes__box-title {
    font-weight: 600;
    font-size: 1.7rem;
    color: #858c96;
}

.course-boxes__box-desc {
    font-size: 1.4rem;
    color: #7d7e7f;
}

/* Finish Course Details Styles */



/* Start Course Progress Styles */

.course-progress {
    border-radius: 1rem;
    padding: 2rem;
    background-color: #f0f2f8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.2rem;
}

.course-progress__header {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    color: #7b868a;
    font-size: 1.8rem;
}

.course-progress__header-text {
    font-weight: 600;
    letter-spacing: -2px;
}

.progress-bar {
    background-color: var(--primary-color);
}

/* Finish Course Progress Styles */



/* Start Course Description Styles */

.course-desc {
    margin: 3rem 0;
    background-color: var(--white-color);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    padding: 3rem 4rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.course-desc__item-title {
    display: inline-block;
    margin-bottom: 3rem;
}

.course-desc__item-img {
    display: block;
    margin-bottom: 3rem;
    border-radius: 1rem;
}

.course-desc__item-text {
    line-height: 1.4;
    margin-bottom: 4rem;
    font-size: 1.6rem;
    color: #7a7a7a;
}

.course-desc__btns {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.course-desc__btn {
    padding: .3rem 1rem;
    border-radius: 0.5rem;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    transition: all 400ms ease;
    letter-spacing: -1px;
    font-size: 1.6rem;
    font-weight: bold;
}

.course-desc__btn:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}



/* Default Class in Bootstrap */

.accordion {
    margin-top: 2.5rem;
}

.accordion-item {
    background-color: #f7f9fa;
}

.accordion-button {
    background-color: #f7f9fa;
    font-size: 1.7rem;
    padding: 1.5rem;
    letter-spacing: -1px;
}

.accordion-button::after {
    position: absolute;
    left: 1rem;
    right: auto;
    width: 3rem;
    height: 3rem;
    background-position: center;
}

.accordion-button:not(.collapsed) {
    background-color: #f7f9fa;
}

.accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgba(43, 206, 86, 0.4);
}

/* Default Class in Bootstrap */



.course-desc__accordion-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.course-desc__accordion-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.course-desc__accordion-count {
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: #656464;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 1.8rem;
}

.course-desc__accordion-number {
    margin-top: 0.5rem;
}

.course-desc__accordion-icon {
    font-size: 1.8rem;
    color: #939aa3;
}

.course-desc__accordion-link {
    font-size: 1.6rem;
    letter-spacing: -1px;
    color: #161616;
}

.course-desc__accordion-time {
    font-size: 1.6rem;
    color: #7a7a7a;
}

/* Finish Course Description Styles */



/* Start Teacher Info Styles */

.teacher-info {
    background-color: var(--white-color);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: 1.5rem 2rem;
}

.teacher-info__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teacher-info__header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.teacher-info__header-img {
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.teacher-info__header-titles {
    display: flex;
    flex-direction: column;
}

.teacher-info__header-link {
    font-weight: bold;
    font-size: 1.7rem;
    letter-spacing: -1px;
    color: #7b868a;
}

.teacher-info__header-skills {
    font-size: 1.2rem;
    letter-spacing: -0.5px;
    color: #7b868a;
}

.teacher-info__header-left {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}

.teacher-info__header-icon {
    font-size: 1.8rem;
}

.teacher-info__header-text {
    letter-spacing: -1px;
    font-size: 1.7rem;
    font-weight: bold;
}

.teacher-info__body {
    margin-top: 1.4rem;
    color: #7b868a;
    letter-spacing: -0.5px;
}

/* Finish Teacher Info Styles */

/*! Finish Course Styles */





/*! Start Side Bar Styles */

.side-bar {
    top: 1rem;
    position: sticky;
}

.course-infos {
    border-radius: 1rem;
    margin-top: 2rem;
    padding: 2rem;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid #f2f2f2;
}

.course-infos:first-child {
    margin-top: 0;
}



/* Start Register Course Styles */

.course-infos__register {
    text-align: center;
    background-color: #1fbd50;
    color: var(--white-color);
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 5px 0 rgba(31, 189, 80, 35%);
}

.course-infos__register-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: -0.5px;
}

.course-infos__register-icon {
    font-size: 2rem;
}

/* Finish Register Course Styles */



/* Start More Infos Course Styles */

.course-infos__more-top {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f0f2f7;
    padding: 1.5rem;
    border-radius: 1rem;
}

.course-infos__more-sale {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.course-infos__more-sale-icon {
    font-size: 2.7rem;
    color: #555555;
}

.course-infos__more-sale-text {
    color: #7f8187;
}

.course-infos__more-sale-count {
    color: var(--white-color);
    background-color: #c4c7cf;
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
}

.course-infos__more-bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2rem;
    color: #7b868a;
}

.course-infos__more-comments {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.course-infos__more-comments::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: #e5e5e5;
    left: -3rem;
}

.course-infos__more-comments-icon {
    font-size: 2.2rem;
}

.course-infos__more-comments-count {
    font-size: 1.5rem;
}

.course-infos__more-view {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.course-infos__more-view-icon {
    font-size: 2.2rem;
}

.course-infos__more-view-count {
    font-size: 1.5rem;
}

/* Finish More Infos Course Styles */



/* Start Course Box Short Link Styles */

.course-infos__header-short-url {
    display: flex;
    align-items: center;
    color: #7b868a;
    gap: 1rem;
}

.course-infos__header-short-url-icon {
    font-size: 2rem;
}

.course-infos__header-short-url-text {
    font-size: 1.7rem;
}

.course-infos__short-url {
    display: block;
    margin: 1rem 0;
    border: 1px solid #dcdcdc;
    color: #a7a7a7;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    font-size: 1.4rem;
}

/* Finish Course Box Short Link Styles */



/* Start Course Topic Access Styles */

.course-info__topic-title {
    display: block;
    color: var(--dark-color);
    font-size: 1.8rem;
}

.course-info__topic-text {
    font-size: 1.4rem;
    color: #7d7e7f;
}

.course-info__topic-link {
    color: blue;
    font-weight: bold;
    font-size: 1.8rem;
}

/* Finish Course Topic Access Styles */

/*! Finish Side Bar Styles */

/*? Finish Course Details Styles */